<ion-view view-title="Home">
	<ion-content >	
		<div class="row">
			<div class="col text-center">
				<a class="item item-text-wrap home" href="#/app/basic">
					<div class="row">
						<div class="col text-center">Ruby basic</div>
					</div>	     
				</a>	
			</div>
		</div>
		<div class="row">
			<div class="col text-center">
				<a class="item item-text-wrap home" href="#/app/advance">
					<div class="row">
						<div class="col text-center">Ruby advanced</div>
					</div>	         
				</a>
			</div>  
		</div>
		<div class="row">
			<div class="col text-center">
				<a class="item item-text-wrap home" href="#/app/rails">
					<div class="row">
						<div class="col text-center">rails</div>
					</div>	         
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col text-center">
				<img src="img/logo.png"/>
			</div>
		</div>
	</ion-content>
</ion-view>
